@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>

    <h1 style="color:red">Oops!</h1>

    <h3>Something went wrong.</h3>

    <p>
        We couldn't process your request.
    </p>

    <p>
        Please try again later.
    </p>

    <a asp-controller="Home"
       asp-action="Index"
       class="btn btn-primary">
        Go to Home
    </a>

</body>
</html>